fiows.json
[
    {
        "id": "69cae207e4bec5a7",
        "type": "tab",
        "label": "Поток 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9b93b44814325e7b",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8074496f82b90ce4",
        "type": "inject",
        "z": "69cae207e4bec5a7",
        "name": "start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "7b8ada441fb92aa3",
                "32a7ebf6306a049b"
            ]
        ]
    },
    {
        "id": "937f58ea176c69b0",
        "type": "mqtt out",
        "z": "69cae207e4bec5a7",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9b93b44814325e7b",
        "x": 550,
        "y": 120,
        "wires": []
    },
    {
        "id": "7b8ada441fb92aa3",
        "type": "function",
        "z": "69cae207e4bec5a7",
        "name": "init lib",
        "func": "var lib = {};\nfunction sleep (time) {\nreturn new Promise((resolve) => setTimeout(resolve, time));\n}\nasync function SirenaSend(nmsg1,nmsg2,Time) { \n    node.send(nmsg1);\n    await sleep(Time); // Пауза  \n    node.send(nmsg2);\n} \n\n\n// функция управления сиреной \nlib.Sirena = (F_name, status, melody, prefi) => {\n    var nmsg1={};\n    var nmsg2={};\n    var pref = global.get(\"setup.prefix\");\n    if (!prefi) {prefi = 0;};\n    nmsg1.topic = pref[prefi]+\"/\"+F_name+\"/set/ringtone\";\n    nmsg2.topic = pref[prefi]+\"/\"+F_name+\"/set/alarm\";\n    nmsg1.payload = melody;\n    nmsg2.payload = status;\n    if (status == \"OFF\" || !melody || melody == \"\") { node.send(nmsg2); } else { \n        SirenaSend(nmsg1, nmsg2, 1000); \n        }   \n}\n\n// функция для организации задержки sleep, пример использования await sleep(5000);\nlib.sleep = (time) => { \n    return new Promise((resolve) => setTimeout(resolve, time));\n}\n\n\n// функция управления рольставнями\n    lib.Curtain = (F_name, pos, prefi) => { \n        var nmsg={};\n        if (isNaN(pos)) {\n            if (global.get(F_name+\"_moving\") == \"STOP\") {\n                nmsg.payload = pos; \n                global.set (F_name+\"_state_old\", pos);\n            } \n            else \n            {\n                if (pos == \"OPEN\") { if (global.get(F_name+\"_moving\") == \"UP\") {nmsg.payload = \"STOP\";} else {nmsg.payload = pos;}}\n                if (pos == \"CLOSE\") { if (global.get(F_name+\"_moving\") == \"DOWN\") {nmsg.payload = \"STOP\";} else {nmsg.payload = pos;}} \n                if (pos == \"STOP\") {nmsg.payload = \"STOP\";}\n            }\n            var pref = global.get(\"setup.prefix\");\n            if (!prefi) {prefi = 0;}\n            nmsg.topic = pref[prefi]+\"/\"+F_name+\"/set/state\"\n            \n        } else {\n            nmsg.payload = Math.abs(pos);\n            var pref = global.get(\"setup.prefix\");\n            if (!prefi) {prefi = 0;}\n            nmsg.topic = pref[prefi]+\"/\"+F_name+\"/set/position\";\n\n        }\n        node.send(nmsg);\n    }\n// функция управления рольставнями одной кнопкой\n    lib.CurtainB = (F_name, prefi) => { \n        var nmsg={};\n        var position = global.get(F_name+\"_position\");\n        node.warn (\"OK\");\n        if (global.get(F_name+\"_moving\") == \"STOP\") \n            if (position == 0) {\n                    nmsg.payload = \"OPEN\"; \n                    global.set (F_name+\"_state_old\", \"OPEN\");\n                } else if (position > 98) {\n                    nmsg.payload = \"CLOSE\";  \n                    global.set (F_name+\"_state_old\", \"CLOSE\");\n                } else {\n                    if (global.get (F_name+\"_state_old\") == \"OPEN\") {\n                        nmsg.payload = \"CLOSE\";  \n                        global.set (F_name+\"_state_old\", \"CLOSE\");\n                    } else {\n                        nmsg.payload = \"OPEN\";  \n                        global.set (F_name+\"_state_old\", \"OPEN\");\n                    }\n                }\n            else \n            {\n                nmsg.payload = \"STOP\";\n            }\n            var pref = global.get(\"setup.prefix\");\n            if (!prefi) {prefi = 0;}\n            nmsg.topic = pref[prefi]+\"/\"+F_name+\"/set/state\"\n\n        node.send(nmsg);\n    }\n// функция управления диммером/реле режим \"переключения\" с ночным режимом\n    lib.Dimmer = (F_name, pos, state, proc, prefi) => {\n        var nmsg = {}; var nmsg2 = {}; var status; var status_b; var mn;\n        if (proc) {mn=2.54} else {mn=1}\n        if (pos == undefined || pos == \"\") { pos=\"\"} else {if(!isNaN(pos)) {pos = \"_l\"+pos} else {pos = \"_\"+pos}}\n        if (state == undefined) {\n            if (global.get(F_name+\"_state\"+pos)) {status = global.get(F_name+\"_state\"+pos);} else {status = global.get(F_name+\"_state\"+pos);}  // статус вкл/выкл\n        } else {\n            if (state==\"OFF\" || state==false) {status = \"ON\"} else {status = \"OFF\"}\n        }\n        var status_b = global.get(F_name+\"_brightness\"+pos); // текущая яркость\n        var status_a = global.get(\"setup_\"+F_name+\"_night_auto\"+pos); // включен ли ночной режим для устройства\n        var status_n = Math.round(global.get(\"setup_\"+F_name+\"_night_brightness\"+pos)*2.54); // яркость в ночном режиме\n        var status_d;\n        status_d = Math.round(global.get(\"setup_\"+F_name+\"_day_brightness\"+pos)*2.54);// яркость в дневном режиме\n        var night = global.get(\"setup_night_mode\"); // включен ли ночной режим\n\n        if (night!=\"ON\") {\n            if (status_d != status_n && status_b != status_n) {\n            global.set(\"setup_\"+F_name+\"_day_brightness\"+pos, Math.round(status_b/2.54));\n            status_d = status_b;}\n        }\n\n        var pref = global.get(\"setup.prefix\");\n        if (!prefi) {prefi = 0;}\n        // включение выключение в зависимости от режима\n        if (status==\"ON\") { // \n            nmsg.payload =\"OFF\";\n            nmsg.topic = pref[prefi]+\"/\"+F_name+\"/set/state\"+pos;\n        } else {\n            if (night==\"ON\" && status_a==\"ON\") {\n                // ночной режим\n                nmsg.payload =\"ON\";\n                nmsg.topic = pref[prefi]+\"/\"+F_name+\"/set/state\"+pos;\n                if(!isNaN(state) && state!=true && state!=false) {nmsg2.payload = Math.round(state*mn);} else {nmsg2.payload = Math.round(status_n);}\n                nmsg2.payload = status_n;\n                nmsg2.topic = pref[prefi]+\"/\"+F_name+\"/set/brightness\"+pos;\n                node.send(nmsg2)\n\t        } else {\n                // дневной режим\n                nmsg.payload =\"ON\";\n                nmsg.topic = pref[prefi]+\"/\"+F_name+\"/set/state\"+pos;\n                if(!isNaN(state) && state!=true && state!=false) {nmsg2.payload = Math.round(state*mn);} else {nmsg2.payload = status_d;}\n                nmsg2.topic = pref[prefi]+\"/\"+F_name+\"/set/brightness\"+pos;\n                node.send(nmsg2);\n            }\n        }\n        node.send(nmsg);\n    } \n// функция управления диммером режим \"диммирование\"     \n    lib.DimmerB = (F_name, pos, brightness, prefi) => {\n        var nmsg={};\n        if (!pos || pos == \"\") { pos = \"\";} else {pos = \"_l\"+pos;}\n        if (!brightness) { brightness = 254;}       \n        nmsg.payload = brightness;\n            var pref = global.get(\"setup.prefix\");\n            if (!prefi) {prefi = 0;}\n            nmsg.topic = pref[prefi]+\"/\"+F_name+\"/set/brightness\"+pos;\n        node.send(nmsg);\n    }\n// функция управления реле tuya    \n    lib.RelayTuya = (F_name, pos, state) => {\n        var nmsg = {}; var status; var stat;\n        if (!pos || pos == \"\") { pos = 1;}\n        if (global.get(F_name+\"_\"+pos)) \n                {status = global.get(F_name+\"_\"+pos);} \n            else \n                {status = global.get(F_name+\"_\"+pos);}  // статус вкл/выкл\n            nmsg.topic = \"tuya/\"+F_name;\n        if (state == undefined || state == \"TOGGLE\") {\n            if (status==\"true\") {status = false} else {status = true}\n            stat = status;\n        } else {\n            if (state==\"ON\" || state==true) {status = true} else {status = false}\n            stat = status;\n        }\n        nmsg.payload = '{\"set\": '+stat+', \"dps\" : '+pos+'}'\n        node.send(nmsg);\n    }\n\n\n// функция управления диммером/реле/led режим \"переключения\" без ночного режима\n    lib.Relay = (F_name, pos, state, prefi) => {\n        var nmsg = {}; var status;\n\n        if (!pos || pos == \"\") { pos = \"\";} else {\n            if(!isNaN(pos)) {pos = \"_l\"+pos;} else {pos = \"_\"+pos;}\n        }            \n            if (global.get(F_name+\"_state\"+pos)) \n                {status = global.get(F_name+\"_state\"+pos);} \n            var pref = global.get(\"setup.prefix\");\n            if (!prefi) {prefi = 0;}\n            nmsg.topic = pref[prefi]+\"/\"+F_name+\"/set/state\"+pos;\n        if (state==undefined || state==\"TOGGLE\") {\n            if (status==\"ON\") {status = \"OFF\"} else {status = \"ON\"}\n            nmsg.payload = status;\n        } else {\n            if (state==true || state==\"ON\") {state=\"ON\"} else {state=\"OFF\"}\n            nmsg.payload = state;\n        }\n        node.send(nmsg);\n    }\n// другие функции\n// функция получения имени устройства из топика\n    lib.Clear = (str) => {\n        var topic = str;\n        var pref = global.get(\"setup.prefix\");\n        var index;\n        for (index = 0; index < pref.length; ++index) {\n            topic = topic.replace(pref[index] + \"/\", \"\"); // удаляем корневой путь\n        }\n        topic = topic.substring(0,topic.search('/'));\n        return topic;\n    }\n// функция преобразования топика в переменную\n    lib.ConvName = (str) => {\n        var topic = str;\n        var pref = global.get(\"setup.prefix\");\n        var index;\n        for (index = 0; index < pref.length; ++index) {\n            topic = topic.replace(pref[index] + \"/\", \"\"); // удаляем корневой путь\n        }\n        topic = topic.replace(/\\//g, '_');\n        topic = topic.replace(/ /g, '_');\n        return topic;\n    }\n// функция уровня батареи\n    lib.Battery = (proc) => {\n        var sym; var topic; var col;\n    switch (true) {\n        case proc >= 90 && proc <= 100:\n            sym = \"fa-battery-full\"; col = \"green\";\n            break;\n        case proc >= 75 && proc < 90:\n            sym = \"fa-battery-three-quarters\"; col = \"green\";\n            break;\n        case proc >= 50 && proc < 75:\n            sym = \"fa-battery-half\"; col = \"yellow\";\n            break;\n        case proc >= 25 && proc < 50:\n            sym = \"fa-battery-quarter\"; col = \"orange\";\n            break;\n        case proc >= 0 && proc < 25:\n            sym = \"fa-battery-empty\"; col = \"red\";\n            break;\n        default:\n            sym = \"fa-battery-empty\"; col = \"gray\";\n            break;\n    }\n        topic = '<font color = \"'+col+'\" i class=\"fa '+sym+' fa-2x \"></font>'\n        return topic;\n    }\n\n\n\n\n\n\n\nglobal.set('LIB',lib)",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 120,
        "wires": [
            [
                "937f58ea176c69b0"
            ]
        ]
    },
    {
        "id": "7dbccbe1b1a886c6",
        "type": "mqtt in",
        "z": "69cae207e4bec5a7",
        "name": "",
        "topic": "z2m/+/action",
        "qos": "2",
        "datatype": "auto",
        "broker": "9b93b44814325e7b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 105,
        "y": 340,
        "wires": [
            [
                "9c3813e4824824c8"
            ]
        ]
    },
    {
        "id": "1f449ac3f27bff32",
        "type": "function",
        "z": "69cae207e4bec5a7",
        "name": "Button",
        "func": "var bt = msg.payload; // получаем событие\nvar lib = global.get('LIB'); // подключаем функции\nvar name = lib.Clear(msg.topic); // получаем имя устройства через функцию очистки топика\n\n//if (name == \"Button02\" && bt == \"single_left\")     {lib.Relay(\"Dimmer02\", 1)}\n//if (name == \"Button02\" && bt == \"single_right\")    {lib.Relay(\"Dimmer02\", 2)}\n//if (name == \"Button02\" && bt == \"double_left\")     {lib.Curtain(\"Curtain01\",\"OPEN\")}\n//if (name == \"Button02\" && bt == \"double_right\")    {lib.Curtain(\"Curtain01\",\"CLOSE\")}\n//if (name == \"Contact01\")    {lib.Relay(\"Dimmer01\", 1, bt)}\n\n\n\nreturn;\n\n\n\n\n",
        "outputs": 0,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 725,
        "y": 420,
        "wires": []
    },
    {
        "id": "ce3a2130dfacdcec",
        "type": "function",
        "z": "69cae207e4bec5a7",
        "name": "ON",
        "func": "var setting = 1; // учитывать настройки 1 - да, 0 - нет\nvar bt = msg.payload; var topic = msg.topic; var lib = global.get('LIB')\ntopic = lib.Clear(topic);\nmsg.payload = \"ON\";\nmsg.reset;\nif (setting == 0) {return msg;} else {\nif (global.get(\"setup_\"+topic+\"_auto\")==\"ON\"){\nreturn msg;\n} else {\nreturn;\n}\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 440,
        "wires": [
            [
                "0f425dd6eec03f93",
                "1f449ac3f27bff32"
            ]
        ]
    },
    {
        "id": "a88975e1b161f02d",
        "type": "function",
        "z": "69cae207e4bec5a7",
        "name": "OFF",
        "func": "var setting = 1; // учитывать настройки 1 - да, 0 - нет\nvar bt = msg.payload; var topic = msg.topic; var lib = global.get('LIB')\ntopic = lib.Clear(topic);\nmsg.payload = \"OFF\";\nif (setting == 0) {return msg;} else {\nmsg.delay = parseInt(global.get(\"setup_\"+topic+\"_sec\"))*1000;\nif (global.get(\"setup_\"+topic+\"_auto\")==\"ON\"){\nreturn msg;\n} else {\nreturn;\n}\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 470,
        "wires": [
            [
                "0f425dd6eec03f93"
            ]
        ]
    },
    {
        "id": "0f425dd6eec03f93",
        "type": "trigger",
        "z": "69cae207e4bec5a7",
        "name": "delay",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "250",
        "extend": true,
        "overrideDelay": true,
        "units": "ms",
        "reset": "ON",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 570,
        "y": 470,
        "wires": [
            [
                "1f449ac3f27bff32"
            ]
        ]
    },
    {
        "id": "d6c03296fced93fb",
        "type": "switch",
        "z": "69cae207e4bec5a7",
        "name": "door",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "false",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 270,
        "y": 420,
        "wires": [
            [
                "ce3a2130dfacdcec"
            ],
            [
                "a88975e1b161f02d"
            ]
        ]
    },
    {
        "id": "51907f2ff331d48a",
        "type": "mqtt in",
        "z": "69cae207e4bec5a7",
        "name": "",
        "topic": "z2m/+/contact",
        "qos": "2",
        "datatype": "auto",
        "broker": "9b93b44814325e7b",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 105,
        "y": 420,
        "wires": [
            [
                "d6c03296fced93fb"
            ]
        ]
    },
    {
        "id": "c5642ed796693b0e",
        "type": "mqtt in",
        "z": "69cae207e4bec5a7",
        "name": "",
        "topic": "z2m/+/occupancy",
        "qos": "2",
        "datatype": "auto",
        "broker": "9b93b44814325e7b",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 115,
        "y": 500,
        "wires": [
            [
                "2936f1d1277e89c2"
            ]
        ]
    },
    {
        "id": "2936f1d1277e89c2",
        "type": "switch",
        "z": "69cae207e4bec5a7",
        "name": "motion",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 265,
        "y": 500,
        "wires": [
            [
                "ce3a2130dfacdcec"
            ],
            [
                "a88975e1b161f02d"
            ]
        ]
    },
    {
        "id": "9c3813e4824824c8",
        "type": "delay",
        "z": "69cae207e4bec5a7",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 340,
        "wires": [
            [
                "1f449ac3f27bff32"
            ]
        ]
    },
    {
        "id": "bd07b2d513eec1b8",
        "type": "comment",
        "z": "69cae207e4bec5a7",
        "name": "получение событий с выключателей",
        "info": "",
        "x": 185,
        "y": 310,
        "wires": []
    },
    {
        "id": "44ee01944a01bd4e",
        "type": "comment",
        "z": "69cae207e4bec5a7",
        "name": "получение событий с датчиков открытия дверей/окон",
        "info": "",
        "x": 235,
        "y": 390,
        "wires": []
    },
    {
        "id": "c50dd7a6a0096751",
        "type": "comment",
        "z": "69cae207e4bec5a7",
        "name": "получение событий с датчиков движения",
        "info": "",
        "x": 195,
        "y": 470,
        "wires": []
    },
    {
        "id": "e4cb509d6cc8b432",
        "type": "comment",
        "z": "69cae207e4bec5a7",
        "name": "v.1.6",
        "info": "v1.6\n- добавлены функции SunCalc - рассчет солнечных циклов, встроена библиотека https://github.com/mourner/suncalc\n- исправлено в функции реле режим TOGGLE\n- исправлена работа ночного режима в функции Dimmer\nv1.5\n- добавлено управление сиреной\nv1.4\n- добавлена функция sleep\n- добавлена возможность задавать несколько префиксов mqtt в переменной setup.prefix в виде массива, при переходе с версии 1.3 необходимо записать переменные как указано в ноде data\nv1.3\n- оптимизирован код\n- отдельная функция сохранения данных о батареи\n\nv1.2\n- добавлено в функцию Dimmer установку яркости диммера\n\nv1.1\n- во все функции где возможно параметры \"ON\" или \"OFF\" можно вместо ON и OFF передавать true или false соответственно\n- в ноду termostat добавлено указание датчиков темературы\nv1.0\nhttps://youtu.be/SIi30xbhhH8",
        "x": 80,
        "y": 40,
        "wires": []
    },
    {
        "id": "d7ec0b53edc931be",
        "type": "inject",
        "z": "69cae207e4bec5a7",
        "name": "start",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "41244959c9785b5d"
            ]
        ]
    },
    {
        "id": "c057f39c777e1e8d",
        "type": "function",
        "z": "69cae207e4bec5a7",
        "name": "mqtt battary",
        "func": "var lib = global.get('LIB'); var bt = msg.payload; var topic = msg.topic;\nvar np = lib.ConvName(topic); // удаляем из топика лишнее и заменяем косую черту на подчеркивание\n\n// получаем дату и время\nvar today = new Date();\nvar dd1 = today.getDate();\nvar dd2 = today.getMonth();\nvar dd3 = today.getHours();\nvar dd4 = today.getMinutes();\nif (dd1<10){dd1=\"0\"+dd1;}\nif (dd2<10){dd2=\"0\"+dd2;}\nif (dd3<10){dd3=\"0\"+dd3;}\nif (dd4<10){dd4=\"0\"+dd4;}\nvar nowdate = dd2+\".\"+dd1;\nglobal.set(np+\"date\", nowdate);\nglobal.set(np+\"_date\", today);\n// записываем значение в переменную\nglobal.set(np, bt);\n",
        "outputs": 0,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 285,
        "y": 260,
        "wires": []
    },
    {
        "id": "f52bf0cfdc26c303",
        "type": "mqtt in",
        "z": "69cae207e4bec5a7",
        "name": "",
        "topic": "z2m/+/battery",
        "qos": "2",
        "datatype": "auto",
        "broker": "9b93b44814325e7b",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 105,
        "y": 260,
        "wires": [
            [
                "c057f39c777e1e8d"
            ]
        ]
    },
    {
        "id": "e5cf9cde9479496a",
        "type": "mqtt in",
        "z": "69cae207e4bec5a7",
        "name": "",
        "topic": "z2m/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "9b93b44814325e7b",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 85,
        "y": 210,
        "wires": [
            [
                "82d30a95baa88fd3"
            ]
        ]
    },
    {
        "id": "82d30a95baa88fd3",
        "type": "function",
        "z": "69cae207e4bec5a7",
        "name": "mqtt в переменные",
        "func": "var lib = global.get('LIB');\nvar bt = msg.payload; \nvar topic = msg.topic;\nvar nmsg={};\nvar flagok=1;\n// удаляем из топика лишнее и заменяем косую черту на подчеркивание\nvar np = lib.ConvName(topic); \n// исключаем из переменных устаройства\nif(np.includes(\"bridge\")) {flagok=0;}\nif(!np.includes(\"_\")) {flagok=0;}\nif(np.includes(\"Tuya\")) {flagok=1;}\n\n\n// записываем значение в переменную\nif(flagok) {global.set(np, bt);}\n",
        "outputs": 0,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 315,
        "y": 210,
        "wires": []
    },
    {
        "id": "41244959c9785b5d",
        "type": "function",
        "z": "69cae207e4bec5a7",
        "name": "data",
        "func": "// задаем начальные переменные\nvar setup = {};\nsetup.prefix = [\"z2m\", \"ha\"]; // префикс zigbee2mqtt и пр\nsetup.dimmers = 11; // количество диммеров Dimmer01, Dimmer02 ..\nsetup.sensors = 0; // количество датчиков температуры Sensor01, Sensor02 ..\nsetup.contact = 1; // количество датчиков открытия двери/окон Contact01, Contact02 ..\nsetup.motion = 0; // количество датчиков движения Motion01, Motion02\nsetup.button = 11; //количество выключателей Button01, Button02 ..\nsetup.clapan = 5; // количество клапанов отопления\n// ---------------------------------\n\n\nglobal.set(\"setup\", setup);\n",
        "outputs": 0,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 80,
        "wires": []
    },
    {
        "id": "dd36d3c45f171bcc",
        "type": "comment",
        "z": "69cae207e4bec5a7",
        "name": "init lib manual",
        "info": "**lib.Clear(\"топик\")**\nфункция получает имя устройства, удаляет из mqtt топика префикс, который задается в первой строке ноды Прикрепленное изображение и отбрасывает всё что после имени устройства начиная с косой черты.\nтопик \"z2m/Button01/action\" будет преобразован в \"Button01\"\n\n**lib.ConvName(\"топик\")**\nфункция преобразует топик в имя переменной, удаляет в начале префикс и заменяет все косые черты на подчеркивание.\nтопик \"z2m/Sensor01/temperature\" будет преобразован в Sensor01_temperature. Используется для формирования переменных.\n\n**lib.Curtain(\"Имя устройства\", pos, prefi)**\nфункция управления рольставнями или шторами.\nИмя устройства - имя устройства рольставни или шторы.\npos - команда, может быть числом или одной из следующих строк: \"UP\", \"DOWN\", \"STOP\"\nprefi - номер префикса в массиве setup.prefix, массив начинается с 0 (по умолчанию 0 - первый префикс)\nесли pos число то рольставням посылается команда установки позиции pos и формируется топик вида префикс+Имя устройства+\"/set/position\"\nесли одна из перечисленных строк тогда:\nесли рольставни имеют статус \"STOP\" то посылается команда pos\nесли рольставни имеют статус = команде pos то посылается команда \"STOP\"\nесли рольставни имеют статус противоположный команде pos то выполняется команда pos\nпубликуется в топик: Префикс+Имя устройства+\"/set/state\"\n\n**lib.CurtainB(\"Имя устройства\", prefi)**\nфункция управления рольставнями или шторами с помощью одной кнопки\nИмя устройства - имя устройства рольставни или шторы.\nprefi - номер префикса в массиве setup.prefix, массив начинается с 0 (по умолчанию 0 - первый префикс)\nесли рольставни имеют статус \"STOP\" и рольставни имеют позицию закрыто то посылается команда открыть, если позицию открыто то посылается команда закрыть, если промежуточную позицию то посылается команда противоположная той что была ранее послана через эту функцию перед остановкой.\nесли рольставни имеют статус не \"STOP\" то посылается команда \"STOP\"\nпубликуется в топик: Префикс+Имя устройства+\"/set/state\"\n\n**lib.Dimmer (\"Имя устройства\", pos, state, proc, prefi)**\nфункция управление диммером\nИмя устройства - имя устройства диммер.\npos - (не обязательный параметр) число - номер канала (1,2,3 ...), строка - имя канала (\"left\", \"right\")\nесли pos число то будет формироваться строка Префикс+Имя устройства+\"state_l\"+pos\nесли pos нет или \"\" то будет формироваться строка Префикс+Имя устройства+\"state\" (для одноканальных диммеров или led контроллеров)\nstate - (не обязательный параметр) статус, строка (\"ON\",\"OFF\",\"TOGGLE\", true, false или число от 1 до 255)\nесли нет то выполняется \"TOGGLE\", при чем если включен ночной режим (переменная setup_\"+Имя устройства+\"_night_auto\"+pos равна \"ON\") и статус был \"OFF\" то примет значения яркости ночного режима который установлен в файловой переменной: \"setup\"+Имя устройства+\"_night_brightness\"+pos (от 1 до 100). для устройства c именем \"Dimmer02\" второй канал переменная для ночного режима этого диммера будет \"setup_Dimmer02_night_brightness2\"\nесли state число то устанавливается яркость на заданное число\nproc - используется если state число, если есть параметр proc любое значение то state дано в процентах от 1 до 100 которое для управления диммером умножается на 2,54 и округляется\nprefi - номер префикса в массиве setup.prefix, массив начинается с 0 (по умолчанию 0 - первый префикс)\n\n**lib.DimmerB (\"Имя устройства\", pos, state, prefi)**\nфункция управления диммером режим диммирование\nИмя устройства - имя устройства диммер.\npos - (не обязательный параметр) число - номер канала (1,2,3 ...), строка - имя канала (\"left\", \"right\")\nесли pos число то будет формироваться строка Префикс+Имя устройства+\"state_l\"+pos\nесли pos нет или \"\" то будет формироваться строка Префикс+Имя устройства+\"state\" (для одноканальных диммеров или led контроллеров)\nstate - число, уровень яркости, если не указан, то 254\nprefi - номер префикса в массиве setup.prefix, массив начинается с 0 (по умолчанию 0 - первый префикс)\n\n\n**lib.Relay (\"Имя устройства\", pos, state, prefi)**\nфункция управления реле.\nИмя устройства - имя устройства диммер.\npos - (не обязательный параметр) число - номер канала (1,2,3 ...), строка - имя канала (\"left\", \"right\")\nесли pos число то будет формироваться строка Префикс+Имя устройства+\"state_l\"+pos\nstate - (не обязательный параметр) статус, строка (\"ON\",\"OFF\",\"TOGGLE\") если не указан то \"TOGGLE\"\nprefi - номер префикса в массиве setup.prefix, массив начинается с 0 (по умолчанию 0 - первый префикс)\n\n\n**lib.Battery (уровень заряда батареи)**\nформирует html строку с Font Awesome символом батареи и окрашиванием в разные цвета в зависимости от уровня заряда батареи. \n\n** await lib.sleep(миллисекунды) **\nзадержка в миллисекундах\n\n** lib.Sirena(\"Имя устройства\", state, melody, prefi) **\nфункция управления сиреной\nИмя устройства - имя устройства сирена, обязательно\nstate - (обязательный параметр) статус, строка (\"ON\",\"OFF\") включает/выключает сирену\nmelody - (не обязательно) мелодия сирены\nprefi - номер префикса в массиве setup.prefix, массив начинается с 0 (по умолчанию 0 - первый префикс)\n",
        "x": 410,
        "y": 100,
        "wires": []
    },
    {
        "id": "32a7ebf6306a049b",
        "type": "function",
        "z": "69cae207e4bec5a7",
        "name": "SunCalc",
        "func": "/* \nфункции получения солнечных циклов, использование в функции:\nvar SunCalc = global.get('SunCalc'); // подключение библиотеки\nостальное как у автора библиотеки\n*/\n/*\n (c) 2011-2015, Vladimir Agafonkin\n SunCalc is a JavaScript library for calculating sun/moon position and light phases.\n https://github.com/mourner/suncalc\n*/\n\n// shortcuts for easier to read formulas\n\nvar PI   = Math.PI,\n    sin  = Math.sin,\n    cos  = Math.cos,\n    tan  = Math.tan,\n    asin = Math.asin,\n    atan = Math.atan2,\n    acos = Math.acos,\n    rad  = PI / 180;\n\n// sun calculations are based on http://aa.quae.nl/en/reken/zonpositie.html formulas\n\n\n// date/time constants and conversions\n\nvar dayMs = 1000 * 60 * 60 * 24,\n    J1970 = 2440588,\n    J2000 = 2451545;\n\nfunction toJulian(date) { return date.valueOf() / dayMs - 0.5 + J1970; }\nfunction fromJulian(j)  { return new Date((j + 0.5 - J1970) * dayMs); }\nfunction toDays(date)   { return toJulian(date) - J2000; }\n\n\n// general calculations for position\n\nvar e = rad * 23.4397; // obliquity of the Earth\n\nfunction rightAscension(l, b) { return atan(sin(l) * cos(e) - tan(b) * sin(e), cos(l)); }\nfunction declination(l, b)    { return asin(sin(b) * cos(e) + cos(b) * sin(e) * sin(l)); }\n\nfunction azimuth(H, phi, dec)  { return atan(sin(H), cos(H) * sin(phi) - tan(dec) * cos(phi)); }\nfunction altitude(H, phi, dec) { return asin(sin(phi) * sin(dec) + cos(phi) * cos(dec) * cos(H)); }\n\nfunction siderealTime(d, lw) { return rad * (280.16 + 360.9856235 * d) - lw; }\n\nfunction astroRefraction(h) {\n    if (h < 0) // the following formula works for positive altitudes only.\n        h = 0; // if h = -0.08901179 a div/0 would occur.\n\n    // formula 16.4 of \"Astronomical Algorithms\" 2nd edition by Jean Meeus (Willmann-Bell, Richmond) 1998.\n    // 1.02 / tan(h + 10.26 / (h + 5.10)) h in degrees, result in arc minutes -> converted to rad:\n    return 0.0002967 / Math.tan(h + 0.00312536 / (h + 0.08901179));\n}\n\n// general sun calculations\n\nfunction solarMeanAnomaly(d) { return rad * (357.5291 + 0.98560028 * d); }\n\nfunction eclipticLongitude(M) {\n\n    var C = rad * (1.9148 * sin(M) + 0.02 * sin(2 * M) + 0.0003 * sin(3 * M)), // equation of center\n        P = rad * 102.9372; // perihelion of the Earth\n\n    return M + C + P + PI;\n}\n\nfunction sunCoords(d) {\n\n    var M = solarMeanAnomaly(d),\n        L = eclipticLongitude(M);\n\n    return {\n        dec: declination(L, 0),\n        ra: rightAscension(L, 0)\n    };\n}\n\n\nvar SunCalc = {};\n\n\n// calculates sun position for a given date and latitude/longitude\n\nSunCalc.getPosition = function (date, lat, lng) {\n\n    var lw  = rad * -lng,\n        phi = rad * lat,\n        d   = toDays(date),\n\n        c  = sunCoords(d),\n        H  = siderealTime(d, lw) - c.ra;\n\n    return {\n        azimuth: azimuth(H, phi, c.dec),\n        altitude: altitude(H, phi, c.dec)\n    };\n};\n\n\n// sun times configuration (angle, morning name, evening name)\n\nvar times = SunCalc.times = [\n    [-0.833, 'sunrise',       'sunset'      ],\n    [  -0.3, 'sunriseEnd',    'sunsetStart' ],\n    [    -6, 'dawn',          'dusk'        ],\n    [   -12, 'nauticalDawn',  'nauticalDusk'],\n    [   -18, 'nightEnd',      'night'       ],\n    [     6, 'goldenHourEnd', 'goldenHour'  ]\n];\n\n// adds a custom time to the times config\n\nSunCalc.addTime = function (angle, riseName, setName) {\n    times.push([angle, riseName, setName]);\n};\n\n\n// calculations for sun times\n\nvar J0 = 0.0009;\n\nfunction julianCycle(d, lw) { return Math.round(d - J0 - lw / (2 * PI)); }\n\nfunction approxTransit(Ht, lw, n) { return J0 + (Ht + lw) / (2 * PI) + n; }\nfunction solarTransitJ(ds, M, L)  { return J2000 + ds + 0.0053 * sin(M) - 0.0069 * sin(2 * L); }\n\nfunction hourAngle(h, phi, d) { return acos((sin(h) - sin(phi) * sin(d)) / (cos(phi) * cos(d))); }\nfunction observerAngle(height) { return -2.076 * Math.sqrt(height) / 60; }\n\n// returns set time for the given sun altitude\nfunction getSetJ(h, lw, phi, dec, n, M, L) {\n\n    var w = hourAngle(h, phi, dec),\n        a = approxTransit(w, lw, n);\n    return solarTransitJ(a, M, L);\n}\n\n\n// calculates sun times for a given date, latitude/longitude, and, optionally,\n// the observer height (in meters) relative to the horizon\n\nSunCalc.getTimes = function (date, lat, lng, height) {\n\n    height = height || 0;\n\n    var lw = rad * -lng,\n        phi = rad * lat,\n\n        dh = observerAngle(height),\n\n        d = toDays(date),\n        n = julianCycle(d, lw),\n        ds = approxTransit(0, lw, n),\n\n        M = solarMeanAnomaly(ds),\n        L = eclipticLongitude(M),\n        dec = declination(L, 0),\n\n        Jnoon = solarTransitJ(ds, M, L),\n\n        i, len, time, h0, Jset, Jrise;\n\n    var time;\n    var result = {\n        solarNoon: fromJulian(Jnoon),\n        nadir: fromJulian(Jnoon - 0.5)\n    };\n\n    for (i = 0, len = times.length; i < len; i += 1) {\n        time = times[i];\n        h0 = (Number(time[0]) + dh) * rad;\n\n        Jset = getSetJ(h0, lw, phi, dec, n, M, L);\n        Jrise = Jnoon - (Jset - Jnoon);\n\n        result[time[1]] = fromJulian(Jrise);\n        result[time[2]] = fromJulian(Jset);\n    }\n\n    return result;\n};\n\n\n// moon calculations, based on http://aa.quae.nl/en/reken/hemelpositie.html formulas\n\nfunction moonCoords(d) { // geocentric ecliptic coordinates of the moon\n\n    var L = rad * (218.316 + 13.176396 * d), // ecliptic longitude\n        M = rad * (134.963 + 13.064993 * d), // mean anomaly\n        F = rad * (93.272 + 13.229350 * d),  // mean distance\n\n        l  = L + rad * 6.289 * sin(M), // longitude\n        b  = rad * 5.128 * sin(F),     // latitude\n        dt = 385001 - 20905 * cos(M);  // distance to the moon in km\n\n    return {\n        ra: rightAscension(l, b),\n        dec: declination(l, b),\n        dist: dt\n    };\n}\n\nSunCalc.getMoonPosition = function (date, lat, lng) {\n\n    var lw  = rad * -lng,\n        phi = rad * lat,\n        d   = toDays(date),\n\n        c = moonCoords(d),\n        H = siderealTime(d, lw) - c.ra,\n        h = altitude(H, phi, c.dec),\n        // formula 14.1 of \"Astronomical Algorithms\" 2nd edition by Jean Meeus (Willmann-Bell, Richmond) 1998.\n        pa = atan(sin(H), tan(phi) * cos(c.dec) - sin(c.dec) * cos(H));\n\n    h = h + astroRefraction(h); // altitude correction for refraction\n\n    return {\n        azimuth: azimuth(H, phi, c.dec),\n        altitude: h,\n        distance: c.dist,\n        parallacticAngle: pa\n    };\n};\n\n\n// calculations for illumination parameters of the moon,\n// based on http://idlastro.gsfc.nasa.gov/ftp/pro/astro/mphase.pro formulas and\n// Chapter 48 of \"Astronomical Algorithms\" 2nd edition by Jean Meeus (Willmann-Bell, Richmond) 1998.\n\nSunCalc.getMoonIllumination = function (date) {\n\n    var d = toDays(date || new Date()),\n        s = sunCoords(d),\n        m = moonCoords(d),\n\n        sdist = 149598000, // distance from Earth to Sun in km\n\n        phi = acos(sin(s.dec) * sin(m.dec) + cos(s.dec) * cos(m.dec) * cos(s.ra - m.ra)),\n        inc = atan(sdist * sin(phi), m.dist - sdist * cos(phi)),\n        angle = atan(cos(s.dec) * sin(s.ra - m.ra), sin(s.dec) * cos(m.dec) -\n                cos(s.dec) * sin(m.dec) * cos(s.ra - m.ra));\n\n    return {\n        fraction: (1 + cos(inc)) / 2,\n        phase: 0.5 + 0.5 * inc * (angle < 0 ? -1 : 1) / Math.PI,\n        angle: angle\n    };\n};\n\n\nfunction hoursLater(date, h) {\n    return new Date(date.valueOf() + h * dayMs / 24);\n}\n\n// calculations for moon rise/set times are based on http://www.stargazing.net/kepler/moonrise.html article\n\nSunCalc.getMoonTimes = function (date, lat, lng, inUTC) {\n    var t = new Date(date);\n    if (inUTC) t.setUTCHours(0, 0, 0, 0);\n    else t.setHours(0, 0, 0, 0);\n\n    var hc = 0.133 * rad,\n        h0 = SunCalc.getMoonPosition(t, lat, lng).altitude - hc,\n        h1, h2, rise, set, a, b, xe, ye, d, roots, x1, x2, dx;\n\n    // go in 2-hour chunks, each time seeing if a 3-point quadratic curve crosses zero (which means rise or set)\n    for (var i = 1; i <= 24; i += 2) {\n        h1 = SunCalc.getMoonPosition(hoursLater(t, i), lat, lng).altitude - hc;\n        h2 = SunCalc.getMoonPosition(hoursLater(t, i + 1), lat, lng).altitude - hc;\n\n        a = (h0 + h2) / 2 - h1;\n        b = (h2 - h0) / 2;\n        xe = -b / (2 * a);\n        ye = (a * xe + b) * xe + h1;\n        d = b * b - 4 * a * h1;\n        roots = 0;\n\n        if (d >= 0) {\n            dx = Math.sqrt(d) / (Math.abs(a) * 2);\n            x1 = xe - dx;\n            x2 = xe + dx;\n            if (Math.abs(x1) <= 1) roots++;\n            if (Math.abs(x2) <= 1) roots++;\n            if (x1 < -1) x1 = x2;\n        }\n\n        if (roots === 1) {\n            if (h0 < 0) rise = i + x1;\n            else set = i + x1;\n\n        } else if (roots === 2) {\n            rise = i + (ye < 0 ? x2 : x1);\n            set = i + (ye < 0 ? x1 : x2);\n        }\n\n        if (rise && set) break;\n\n        h0 = h2;\n    }\n\n    var result = {};\n\n    if (rise) result.rise = hoursLater(t, rise);\n    if (set) result.set = hoursLater(t, set);\n\n    if (!rise && !set) result[ye > 0 ? 'alwaysUp' : 'alwaysDown'] = true;\n\n    return result;\n};\n\nglobal.set('SunCalc',SunCalc)\n",
        "outputs": 0,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 160,
        "wires": []
    }
]
